# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
venv/
env/
.venv/
ENV/

# =========================
# MLflow
# =========================
mlruns/
mlartifacts/
*.db
*.sqlite

# =========================
# Model files
# =========================
*.pkl
*.joblib
model/
artifacts/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Logs
# =========================
*.log

# =========================
# Environment variables
# =========================
.env

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Docker
# =========================
*.tar
docker-compose.override.yml

# =========================
# Testing
# =========================
.coverage
htmlcov/
.pytest_cache/

# =========================
# Build
# =========================
build/
dist/
*.egg-info/
